.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
}

.header a {
  padding: 10px 24px;
  border: 2px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  background-color: rgb(127, 156, 199);
}
.header img{
  height: 180px;
}
.prisijungti{
  display: inline-block;
  padding: 10px 24px;
  border: 2px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}
.registruotis{
  display: inline-block;
  padding: 10px 24px;
  border: 2px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  background-color: hsl(216, 83%, 61%);
}
.Earns {
  background-color: rgb(179, 202, 248);
  border-radius: 15px;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
}

.btn {
  border: 1px solid blue;
  background-color: #fff;
  border-radius: 8px;
  color: rgb(57, 31, 224);
  position: relative;
  float: right;
  padding: 3px;
  top: -30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #be73ed;
}

.footer a {
  padding: 5px;
  color: black;
  font-size: 25px;
  text-decoration:none;
  
}

.ulClass{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
 display:inline-block;
}

li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}